{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
  <h1 class="chelsea-market-open">oh hai.</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <p>
          Hi, I'm Katherine Elizabeth, or <a href="https://tech.lgbt/@pixiekat" rel="me external">@pixiekat</a>, I've had this domain for as long as I can remember but it's definitely time for a change. When the new place is ready, I'll let you all know and switch this one over.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="list-group list-group-flush">
          {% if lastScrobble is defined and lastScrobble is not empty %}
            <li class="list-group-item">
              <!--<i class="fab fa-spotify"></i> <a href="https://open.spotify.com/artist/66CXWjxzNUsdJxJ2JdwvnR">ariana grande</a> ~ <a href="https://open.spotify.com/album/5UACk85y1hNRSUtY0ss8pb">k bye for now</a>-->
              <i class="fa-brands fa-lastfm"></i> <a href="{{ lastScrobble.url }}" rel="external" target="_blank">{{ lastScrobble.artist['#text'] }} ~ {{ lastScrobble.name }}</a> <span class="text-muted">{{ lastScrobble.relative }}</span>
            </li>
          {% endif %}
          <li class="list-group-item">
            <i class="fa-brands fa-bluesky"></i> My thoughts and musings on <a href="https://bsky.app/profile/katy.devilishseraph.net" rel="external me">Bluesky</a>
          </li>
          <li class="list-group-item">
            <i class="fa-brands fa-tumblr"></i> My unhinged cringe posting on  <a href="https://www.tumblr.com/devilishlyseraphic" rel="external me">Tumblr</a>
          </li>
          <li class="list-group-item">
            <i class="fab fa-instagram"></i> <a href="https://instagram.com/katiexkatie13">instagram</a> of my life.
          </li>
          <li class="list-group-item">
            <i class="fab fa-goodreads"></i> what i'm <a href="https://www.goodreads.com/user/show/22253218-katherine" rel="external">reading</a> right now
          </li>
          <li class="list-group-item">
            <svg fill="#990000" width="25px" height="40px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M24.557 13.177c-0.917 1.489-2.432 2.296-3.989 2.473-5.636 0.647-8.063-5.531-4.625-8.968 3.084-3.084 9.443-1.204 9.344 3.864-0.016 0.813-0.224 1.808-0.729 2.631zM15.943 10.473c0.193 4.792 6.355 4.907 7.584 1.401 1.088-3.093-1.496-5.593-4.256-5.192-2.025 0.291-3.401 1.88-3.328 3.791zM30.828 8.005c0.38-0.177 0.932-0.552 1.12-0.328 0.281 0.333-0.615 0.629-1 0.885-1.224 0.797-2.308 1.635-3.303 2.729-1.276 1.411-2.593 3.172-3.4 5.093 0.828 0.041 4.031 0.208 4.801 1.975 0.62 1.416-0.516 2.875-1.76 3.5 0.885 0.552 2.411 1.26 2.328 2.531-0.213 3.125-4.927 2.989-6.907 0.927-0.323-0.385-0.473-0.64-0.333-0.771 0.204-0.177 0.437 0.251 0.901 0.636 0.303 0.249 0.505 0.333 0.765 0.473 1.735 0.912 4.448 0.537 4.636-1.057 0.083-0.739-0.885-1.276-1.625-1.604-0.661-0.301-2.016-0.516-1.989-1.271 0.025-0.74 0.697-0.599 1.375-0.864 0.735-0.292 1.339-1.204 1.333-1.491-0.005-1.208-2.744-1.181-4.292-1.229-0.364 0.813-0.629 1.636-0.921 2.881-0.188 0.776-0.203 2.525-1 2.703-0.979 0.219-1.349-0.636-1.937-1.317-0.792-0.923-1.917-2.188-2.589-2.969-4.047 1.339-7.192 2.792-11.009 4.953-1.751 0.989-2.751 2.12-3.391 1.803-0.532-0.256-0.453-0.844-0.199-1.183 0.527-0.693 1.235-1.631 1.86-2.516 0.801-1.131 1.405-2.224 1.833-3.26 0.921-2.251 1.64-6.292 1.963-7.813 0.12-0.547 0.417-0.463 0.433-0.197 0.036 0.563-0.319 2.729-0.385 3.177-0.584 3.708-1.032 5.88-2.683 8.468 2.927-1.812 6.407-4.025 10.125-5.276-3.781-4.343-7.781-8.457-13.344-11.052-0.855-0.484-2.235-0.588-2.235-0.916 0-0.36 1.041-0.079 1.391 0.011 3.177 0.796 6.421 2.853 8.803 4.593 2.859 2.088 6.285 5.287 7.572 6.776 0.875-0.303 3.047-0.609 4.928-0.661 1-2.109 3.4-5.36 6.385-7.261 0.547-0.348 1.119-0.791 1.749-1.077zM19.369 18.765c0.568 0.573 0.991 1.245 1.485 1.865 0.228-0.787 0.536-1.62 0.853-2.344-0.823 0.109-1.708 0.271-2.339 0.479z"></path> </g></svg>

            <a href="https://archiveofourown.org/users/devilishlyseraphic" rel="external me">archive of our own</a>
          </li>
          <li class="list-group-item">my  <a href="https://archiveofourown.org/works/search?utf8=%E2%9C%93&work_search%5Bquery%5D=supercorp" rel="external">favourite</a> <a href="https://archiveofourown.org/works/search?utf8=%E2%9C%93&work_search%5Bquery%5D=sea+mechanic" rel="external">femslash</a>.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="signature">xoxo katie</p>
      </div>
    </div>
  </div>

  {#
  <ul class="list--about-me">
  <li class="emoji emoji-wave">Hi, I'm Katherine Elizabeth, or <a href="https://tech.lgbt/@pixiekat" rel="me" target="_blank">@pixiekat</a></li>
  <li class="emoji emoji-education">I started web design in AOL Pages and Geocities in the mid nineties. I started PHP with PHP3 in the late 90s. It has been my consistant language. In the 2000s, I helped contribute to a number of PHP based bulletin board softwares like <a href="https://web.archive.org/web/20010618133607/http://www.xmbforum.com/" target="_blank">XMB</a></li>
  <li class="emoji emoji-chess">I'm proficient in PHP, Drupal (5+), Symfony, and Rails</li>
  <li class="emoji emoji-plant">I'm currently learning Flutter, React, Rust, Dart, Web Extension Development, Chrome Development, and Rails</li>
  <li class="emoji emoji-two-hearts">
      I love <a href="https://codeberg.org/teaserbot-labs/delightful-humane-design" target="_blank">ethnical tech</a>, <a href="https://www.a11yproject.com/" target="_blank">A11y</a> inspired designs, <a href="https://www.codereliant.io/failing-with-dignity/" target="_blank">graceful degradation</a>, and UX design. I support open web standards and the not for profit internet. My first computer was a <a href="https://www.vintagecomputing.com/index.php/archives/3073/retro-scan-the-tandy-sensation" target="_blank">Tandy Sensation</a>, I made my first website using <a href="https://mason.gmu.edu/~montecin/netcompose.html" target="_blank">Netscape Composer</a>, <a href="https://www.mozilla.org/" target="_blank">Mozilla</a> Firefox and <a href="https://www.zdnet.com/home-and-office/networking/the-beginning-of-the-peoples-web-20-years-of-netscape/" target="_blank">Netscape</a> supporter. I work in healthcare and love interacting and building with FHIR and rxNorm.
  </li>
  <li class="emoji emoji-plead">Would love to collaborate on Rails, Drupal, Symfony, or Flutter projects</li>
  <li class="emoji emoji-eyes">I love steampunk, cosplay, sewing, reading, and theatre tech</li>
  <li class="emoji emoji-cat">I have two cats, Callie the Calico and Winnie the Tortoiseshell.</li>
  <li class="emoji emoji-gaming">Obsessed with JRPGs. I have been playing games since the late 80s. My first console system was the Master System. I also love any Sierra Online or LucasArts game. Point and click adventures are my everything. I love anything Final Fantasy; I have most recently completed Final Fantasy VII Rebirth and Final Fantasy XVI</li>
  <li class="emoji emoji-facts">I think webrings and web cliques should come back in vogue and that web 1.0 was infinitely better than web 2.0+. I also think there should be a native facts emoji.</li>
  <li class="emoji emoji-travel">I love travelling and could spend hours on street view. I'm fascinated with out of the way and unknown places. I most recently visited Scotland for two weeks and I loved it. I want to live in Japan, Shetland, or Norway someday</li>
  </ul>

  <p class="signature">xoxo katy <i class="fas fa-heart"></i></p>
  #}
{% endblock %}
